@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Outfit:wght@100..900&display=swap");
:root {
  --bg_color: #fff;
  --white_alt_color: #fafaf9;
  --black_color: #1e1e1e;
  --text_color: #555555;
  --light_grey_color: rgb(238, 238, 238);
  --blue_color: #0008c0;
  --light_blue_color: #616cf2;
  --yellow_color: #e7f914;
  --red_color: #fa0108;

  font-family: "Outfit", sans-serif;
  --sec_ff: "Bricolage Grotesque", sans-serif;

  --home_hero_fs: clamp(3rem, 5vw + 1rem, 6rem);
  --hero_fs: clamp(2.5rem, 4vw + 1rem, 5rem);
  --section_title_fs: clamp(2rem, 3vw + 1rem, 4rem);
  --sub_section_title_fs: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  --nav_fs: clamp(1rem, 0.5vw + 0.8rem, 1.125rem);
  --text_fs: clamp(1rem, 0.5vw + 0.8rem, 1.125rem);
  --small_fs: 0.875rem;

  --regular_fw: 400;
  --medium_fw: 500;
  --semi_bold_fw: 600;
  --bold_fw: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg_color);
  color: var(--black_color);
  overflow-x: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

.container {
  max-width: 94%;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
}

.section {
  padding: 15rem 0;
  /* border-top: 1px solid var(--light_grey_color); */
}

.below_navbar {
  padding-top: 9rem;
}

.hero_title {
  font-size: var(--hero_fs);
  letter-spacing: 0.6px;
  line-height: 1.2;
  font-weight: var(--bold_fw);
}

.two_col_even_header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}

.two_col_uneven_header {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
}

.section_headers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 2000px) {
  .container {
    max-width: 2000px;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 8rem 0;
  }
}

@media screen and (max-width: 900px) {
.two_col_uneven_header{
  grid-template-columns: 1fr;
  gap: 1rem;
}
}




